html  {
    font-family: 'Courier New', Courier, monospace
}
body  {
    background-color: rgb(122, 233, 218);
}
h2, p, .links{
    text-align: center;
}
.links a{
    text-decoration: none;
}
a {
     color: rgb(0, 0, 0);
    }
.boxes {
    display: block;
    margin: auto;
    padding: auto;
    border-style: solid;
    border-radius: 10% ;
    width: 15em;

}
a:hover {
    cursor: pointer;
    font: bold;
    color: rgb(255, 0, 0);
    text-align: center
}
span {
    color: blueviolet;
    font-weight: bold
}

#box1 {
    background-color:gold;
    width: 20%
}
#box2 {
    background-color: green;
    width: 20%
}
#box3 {
    background-color: orange;
    width: 20%
}
#box4 {
    background-color: gray;
    width: 20%
}
.minibox {
    width: 3em;
    height: 3em;
    background-color: ghostwhite;
    border-radius: 30%;
    top: 0;
    left: 0;
    display: inline-block;
    position: relative
}


#show1{
    color: black
}
#show2{
    color: chocolate
}
#show3{
    color: azure
}
#show4{
    color: darksalmon
}
#show5{
    color: darkgoldenrod
}
#f1{
    color: crimson
}
#f2 {
    color: burlywood
}
#f3{
    color: darkviolet
}
#f4 {
    color: dodgerblue
}
#f5 {
    color: rgb(43, 20, 141)
}
#p1 {
    color: ghostwhite
}
#p2 {
    color: indigo
}
#p3 {
    color: khaki
}
#p4 {
    color: rgb(190, 22, 22)
}
#p5 {
    color: lightcoral
}
#r1 {
    color: indianred
}
#r2 {
    color: gold
}
#r3 {
    color: lemonchiffon
}
#r4 {
    color: peru
}
#r5 {
    color: tomato
}
.boxes2{
    display: block;
    margin: auto;
    padding: auto;
    border-style: solid;
    border-radius: 10%;
    border-width: 2px;
    background-color: skyblue;
    width: 20%;
}

